<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option_value.name %>
</p>

<p>
  <strong>Option:</strong>
  <%= @option_value.option.name %>
</p>

<%= link_to 'Edit', edit_option_value_path(@option_value) %> |
<%= link_to 'Back', option_values_path %>
