<p id="notice"><%= notice %></p>

<p>
  <strong>Optionvalue:</strong>
  <%= @option_value_variation.optionValue %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @option_value_variation.variation %>
</p>

<%= link_to 'Edit', edit_option_value_variation_path(@option_value_variation) %> |
<%= link_to 'Back', option_value_variations_path %>
